In [1]:
import pandas as pd

In [11]:
data = pd.read_csv('../Final_Draft/Alcohol_Consumption_US.csv')
data

,State,State_abbrev,Year,Beer (Per capita consumption),Wine (Per capita consumption),Spirits (Per capita consumption),All beverages (Per capita consumption)
0,Alabama,AL,2016,1.09,0.26,0.65,2.01
1,Alabama,AL,2015,1.11,0.26,0.64,2.01
2,Alabama,AL,2014,1.13,0.25,0.62,2.00
3,Alabama,AL,2013,1.14,0.25,0.60,1.99
4,Alabama,AL,2012,1.16,0.24,0.60,2.00
...,...,...,...,...,...,...,...
2035,Wyoming,WY,1981,1.91,0.24,1.27,3.43
2036,Wyoming,WY,1980,1.85,0.24,1.32,3.41
2037,Wyoming,WY,1979,1.86,0.22,1.30,3.39
2038,Wyoming,WY,1978,1.81,0.22,1.35,3.38
2039,Wyoming,WY,1977,1.78,0.20,1.31,3.29

In [17]:
data2016 =  data[data['Year'] == 2016]
data2016

KeyError: "None of [Index([2016, 2015, 2014, 2013, 2012, 2011, 2010, 2009, 2008, 2007,\n       ...\n       1986, 1985, 1984, 1983, 1982, 1981, 1980, 1979, 1978, 1977],\n      dtype='int64', length=2040)] are in the [columns]"